<div class="my-5 container">
  <h3>My informations</h3>
  <p><%= @user.first_name %> <%= @user.last_name %></p>
  <p><%= @user.email %></p>

  <div class="my-5">
    <h3>You have <%= pluralize @user.products.size, 'Product' %></h3>
    <% if @user.products.blank? %>
      <%= link_to 'Start selling', new_product_path, class: 'btn btn-primary' %>
    <% else %>
      <% @user.products.each do |product| %>
          <div class="col-md-3">
            <div class="card px-0" style="width: 18rem; height: 28rem;">
              <%= cl_image_tag product.photos.first.key, crop: :fill %>
              <div class="card-body">
                <h5 class="card-title"><%= product.name %></h5>
                <p class="card-text"><%= product.description %></p>
                <%= link_to 'More details', product_path(product), class:'card-link' %>
                <% if policy(product).update? %>
                  <%= link_to 'Edit', edit_product_path(product), class:'card-link' %>
                <% end %>
                <% if policy(product).destroy? %>
                  <%= link_to 'Delete', product, method: :delete, data: { confirm: "Are you sure?" }, class:'card-link' %>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>

  <div>
    <h3>You have <%= pluralize @user.purchases.size, 'Purchase' %></h3>
    <% if @user.purchases.blank? %>
          <%= link_to 'Browse products', products_path, class: 'btn btn-primary' %>
    <% else %>
      <% @user.purchases.each do |purchase| %>
          <p><%= purchase.product.name %></p>
          <p><%= purchase.product.price %></p>
          <p><%= purchase.delivery_address %></p>
          <p><%= purchase.message %></p>
          <hr>
      <% end %>
    <% end %>
  </div>
</div>
