<h3>My informations</h3>
<p><%= @user.first_name %> <%= @user.last_name %></p>
<p><%= @user.email %></p>

<div>
  <h3>Products I'm selling</h3>
  <% @user.products.each do |product| %>
    <p><%= product.name %></p>
    <hr>
  <% end %>
</div>

<div>
  <h3>My Purchases</h3>
  <% @user.purchases.each do |purchase| %>
      <p><%= purchase.product.name %></p>
      <p><%= purchase.product.price %></p>
      <p><%= purchase.delivery_address %></p>
      <p><%= purchase.message %></p>
      <hr>
  <% end %>
</div>
