<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="custom-card-lg">
        <h3 class="mt-3 mb-5">Log in</h3>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        placeholder: 'Email',
                        label: false,
                        wrapper_html: { class: 'simple-form-field' },
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        placeholder: 'Password',
                        label: false,
                        wrapper_html: { class: 'simple-form-field' },
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Log in", class: 'btn btn-primary-custom w-100 d-flex text-center' %>
          </div>
        <% end %>
        <div class="mx-auto text-center mt-4">
          <%= render "devise/shared/links", class:'mx-auto' %>
        </div>
      </div>
    </div>
  </div>
</div>
