<h1>Edit page</h1>
<%= simple_form_for(@product) do |f| %>
  <div class="form-inputs">
    <%= f.input :name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "name" } %>
    <%= f.input :category,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "category" } %>
    <%= f.input :description,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "description" } %>
    <%= f.input :price,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "price" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>
