<h1>Homepage</h1>

<% @products.each do |product| %>
  <div>
    <p><%= product.name %></p>
    <p><%= product.category %></p>
    <p><%= product.description %></p>
    <p><%= product.price %></p>
  </div>
  <div>
    <%= link_to 'More details', product_path(product) %>
  </div>
<% end %>
