<div class="banner">
  <div class="container">
    <div class="row">
      <%= image_tag "banner-illustration.png", class: 'banner-illustration animate__animated animate__shakeY animate__infinite' %>
      <div class="col-md-7 offset-md-5">
        <h1 class="mb-2">swop. Your smart shop</h1>
        <h3 class="mb-4">Revealbot automates your ad management routine so you can focus on reaching results, faster.</h3>
        <%= link_to 'Start selling', new_product_path, class: 'btn btn-primary-custom-lg' %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="latest-products">
    <h3>Latest from the community</h3>
    <div class="mt-5">
      <div class="row">
        <% @last_three_products.reverse.each do |product| %>
          <div class="col-md-4">
            <%= link_to product_path(product) do %>
              <div class="card-compact">
                <%= cl_image_tag product.photos.first.key, class: 'card-image' %>
                <div class="card-body">
                  <span class="product-name"><%= product.name %></span>
                  <span class="product-price"><%= product.price %>€</span>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="search-bar">
    <%= form_tag products_path, method: :get, class: 'd-flex row' do %>
      <div class="col-md-6 mx-auto d-flex">
        <%= text_field_tag :query, params[:query], class: "form-control me-3", placeholder: "Find a product"%>
        <%= submit_tag "Search", class: "btn btn-primary-custom-lg" %>
      </div>
    <% end %>
  </div>

  <div class="row g-4">
    <% if @products.empty? %>
      <p>Ooops, couldn't find anything.</p>
    <% else %>
      <% @products.sort.each do |product| %>
        <div class="col-md-3">
          <%= link_to product_path(product) do %>
            <div class="custom-card">
              <%= cl_image_tag product.photos.first.key, class: 'card-image' %>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <span class="product-name"><%= product.name %></span>
                  <span class="product-price"><%= product.price %>€</span>
                </div>
                <span class="product-description"><%= product.description %></span>
                <div class="d-flex align-items-center">
                  <% if policy(product).update? %>
                    <%= link_to 'Edit', edit_product_path(product), class:'card-link' %>
                  <% end %>
                  <% if policy(product).destroy? %>
                    <%= button_to(
                      "Delete",
                      product,
                      method: :delete,
                      class: 'btn btn-link'
                    ) %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
