<div class="banner">
  <div class="container">
    <div class="row">
      <%= image_tag "banner-illustration.png", class: 'banner-illustration' %>
      <div class="col-md-7 offset-md-5">
        <h1>swop. The smart choice</h1>
        <h3>Revealbot automates your ad management routine so you can focus on reaching results, faster.</h3>
        <%= link_to 'Start selling', new_product_path, class: 'btn btn-primary-custom-lg' %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="latest-products">
    <h3>Latest from the community</h3>
    <div class="mt-5">
      <div class="row">
        <% @last_three_products.reverse.each do |product| %>
          <div class="col-md-4">
            <%= link_to product_path(product) do %>
              <div class="card-compact">
                <%# <%= cl_image_tag product.photos.first.key, class: 'card-image' %>
                <div class="card-body">
                  <span class="product-name"><%= product.name %></span>
                  <span class="product-price"><%= product.price %>€</span>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= form_tag products_path, method: :get, class: 'd-flex mb-5' do %>
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a product"%>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <div class="row">
    <% if @products.empty? %>
      <p>Ooops, couldn't find anything.</p>
    <% else %>
      <% @products.sort.each do |product| %>
        <div class="col-md-3">
          <%= link_to product_path(product) do %>
            <div class="card px-0" style="width: 18rem; height: auto;">
              <%= cl_image_tag product.photos.first.key, crop: :fill, width: 100 %>
              <div class="card-body">
                <h5 class="card-title"><%= product.name %></h5>
                <p class="card-title">Category: <%= product.category %></p>
                <p class="card-text">Description: <%= product.description %></p>
                <p class="card-text">Status: <%= product.status %></p>
                <p class="card-text">Price: <%= product.price %>€</p>
                <div class="d-flex align-items-center">
                  <% if policy(product).update? %>
                    <%= link_to 'Edit', edit_product_path(product), class:'card-link' %>
                  <% end %>
                  <% if policy(product).destroy? %>
                    <%= button_to(
                      "Delete",
                      product,
                      method: :delete,
                      class: 'btn btn-link'
                    ) %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
