<div class="d-flex justify-content-between">
  <h1>All products</h1>
  <div>
    <%= link_to 'Create product', new_product_path, class: 'btn btn-primary' %>
  </div>
</div>

<% @products.each do |product| %>
  <div>
    <p><%= product.name %></p>
    <p><%= product.category %></p>
    <p><%= product.description %></p>
    <p><%= product.price %></p>
  </div>
  <div class="d-flex">
    <%= link_to 'More details', product_path(product), class:'btn btn-secondary me-2' %>
    <%= link_to 'Edit', edit_product_path(product), class:'btn btn-secondary me-2' %>
    <%= button_to 'Delete', product, method: :delete, data: { confirm: "Are you sure?" }, class:'btn btn-secondary' %>
  </div>
  <hr>
<% end %>
