<div class="container">
  <div class="row mt-5">
  <div class="col-md-6 mx-auto">
    <div class="custom-card-lg">
      <h3 class="mt-3 mb-5">Create product </h3>
      <%= simple_form_for(@product) do |f| %>
        <div class="form-inputs">
          <%= f.input :name,
                      required: true,
                      autofocus: true,
                      placeholder: 'Product name',
                      label: false,
                      wrapper_html: { class: 'simple-form-field' },
                      input_html: { autocomplete: "name" } %>
          <%= f.input :category,
                      required: true,
                      autofocus: true,
                      placeholder: 'Category',
                      label: false,
                      wrapper_html: { class: 'simple-form-field' },
                      input_html: { autocomplete: "category" } %>
          <%= f.input :description,
                      required: true,
                      autofocus: true,
                      placeholder: 'Description',
                      label: false,
                      wrapper_html: { class: 'simple-form-field' },
                      input_html: { autocomplete: "description" } %>
          <%= f.input :price,
                      required: true,
                      autofocus: true,
                      placeholder: 'Price',
                      label: false,
                      wrapper_html: { class: 'simple-form-field' },
                      input_html: { autocomplete: "price" } %>
          <%= f.input :photos,
                      as: :file,
                      placeholder: 'Add photos',
                      label: false,
                      input_html: { multiple: true } %>
        </div>

        <div class="form-actions d-flex justify-content-end">
          <%= f.button :submit, "Create product", class: 'btn btn-primary-custom' %>
        </div>
      <% end %>
    </div>
  </div>
  </div>
</div>
